<div class="container container-lg">
  <h1 class="title"> Uma solução completa para o seu negócio </h1>
  <div class="row">
     <div class="col-md-3 adv-content">
      <div class="conversao">
        <img src="/images/conversao.png"/>
      </div>
       <h2 class="sub">
         Aumentamos sua Conversão
       </h2>
       <p class="text">
        Recupere transações não autorizadas com a retentativa. Possibilite que seu cliente utilize multimeios de pagamento para compras de alto valor. 
       </p>
     </div>

     <div class="col-md-3 adv-content">
        <div class="seguranca">
          <img src="/images/seguranca.png"/>
        </div>
       <h2 class="sub">
        Fornecemos Segurança
        </h2>
        <p class="text">
         Diminua o índice de fraudes  integrando com antifraudes que analisam cada tentativa de compra através de bancos de dados poderosos.
        </p>
     </div>
      <div class="col-md-3 adv-content">
        <div class="duvidas">
          <img src="/images/duvidas.png"/>
        </div>
        <h2 class="sub">
          Acompanhamos a sua operação
        </h2>
        <p class="text">
          Resolva tudo que for preciso através de um contato rápido e fácil com a nossa central de relacionamento com o cliente.
        </p>
      </div>

      <div class="col-md-3 adv-content">
        <div class="presenca">
          <img src="/images/phone.png"/>
        </div>
        <h2 class="sub">
           Colocamos você em todo lugar
        </h2>
        <p class="text">
         Esteja presente em todos os dispositivos, permitindo que as compras sejam feitas a qualquer hora e em qualquer lugar.
        </p>
     </div>
  </div>
  <div class="row row-banners">
    <img src="/images/bandeiras.png"/>
  </div>
</div>