<div class="row control-row">
  <div class="container">
    <h1 class="title"> Você no controle do seu negócio</h1>
  </div>
</div>

<div class="row portal">
  <div class="col-md-7 pull-right">
    <img class="portal-preview" src="/images/portal-preview.png">            
  </div>

  <div class="col-md-3 col-md-offset-2">
    <h2 class="sub"> Portal do Lojista </h2>
    <p class="text">
      O portal é a interface entre o lojista e a MundiPagg. Nele é possível verificar todas as transações processadas e o status de cada uma delas. 
      <br /><br />
     Estornos e cancelamentos são feitos de forma automática. 
      <br /><br />
    Prático e usual, o portal é essencial para que os lojistas identifiquem e tenham controle das transações feitas no seu e-commerce.
    </p>
  </div>

</div>

<div class="row analytics">
  <div class="col-md-7">
    <img class="analytics-preview" src="/images/analytics-preview.png">            
  </div>
  <div class="col-md-3">
    <h2 class="sub"> Mundi Analytics </h2>
    <p class="text">  
    No Mundi Analytics os lojistas têm acesso aos seus indicadores e à performance do seu e-commerce. 
      <br /><br />
    Nele são apresentados o faturamento e as taxas de conversão e recuperação (por processadora, bandeira, parcelamento, etc.), em períodos customizados.
      <br /><br />
    Atualmente é indispensável acompanhar os dados em tempo real para garantir o sucesso da sua empresa.
    </p>
  </div>
</div>