<!-- Footer -->
    <section class="footer">
      <div class="footer-container">
          <div class="container">

              <div class="row">
                   <div class="col-md-12">
                      <h1 class="title"> Contato </h1>
                   </div>

                      <div class="col-md-3">
                          <h2 class="sub">Fale conosco</h2>
                            <p class="text">
                                <strong>Capitais e Regiões Metropolitanas:</strong>
                                <span>3003-0460</span>
                            </p>
                            <p>
                              <strong>Outras regiões:</strong>
                              <span>21 3554-2802</span>
                            </p>
                      </div>

                      <div class="col-md-3">
                            <h2 class="sub">Trabalhe na Mundi</h2>
                            <p class="text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                              Sed tempor ex et augue fermentum tempor. Nunc maximus orci lectus, ut congue metus facilisis id.
                            </p>

                            <p>
                              <a href="" class="link">mecontrata@mundipagg.com</a>
                            </p>
                     
                      </div>
           
                      <div class="col-md-3">
                          <h2 class="sub">São Paulo <a href="#" class="link visible-sm visible-xs">(Mapa)</a></h2>
                          <p class="text">
                              <span>Av. Brigadeiro Faria Lima 1811</span>
                              <span>12° andar, Jardim Paulistano</span>
                              <span>01452-001</span>
                          </p>
                      </div>

                      <div class="col-md-3">
                          <h2 class="sub">Rio de Janeiro <a href="#" class="link visible-sm visible-xs">(Mapa)</a></h2>
                          <p class="text">
                              <span>Av. General Justo</span>
                              <span>8° andar, Centro</span>
                              <span>20021-130</span>
                          </p>
                      </div>

                  <a href="" class="chat">
                    <img src="/images/chat.png">
                  </a>
              </div>

              <div class="row">
                  <div class="row-social col-md-3">
                    <h2 class="sub">Redes Sociais</h2>
                    <a href="https://twitter.com/mundipagg" target="_blank" class="icon"> <img src="/images/twitter.png"/></a>
                    <a href="https://www.linkedin.com/company/mundipagg" target="_blank" class="icon"> <img src="/images/linkedin.png"/></a>
                    <a href="https://www.facebook.com/MundiPagg" target="_blank" class="icon"> <img src="/images/facebook.png"/></a>
                    <a href="https://www.youtube.com/channel/UCfsp4JkQCOZ0m-aDmQ9bUkA" target="_blank" class="icon"> <img src="/images/youtube.png"/></a> 
                  </div>
              </div>

            </div>
            </div>
             <div class="map hidden-sm hidden-xs">
             </div>
       </section>