<!-- Footer -->
    <section class="footer">
      <div class="footer-container">
          <div class="container">

              <div class="col-md-6">
                <div class="row">
                 <div class="col-sm-6">
                    <h2 class="title">Mapa do site</h2>
                    <ul class="sitemap-list">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Soluções</a></li>
                      <li><a href="#">A Mundi</a></li>
                      <li><a href="#">Clientes</a></li>
                    </ul>
                    <ul class="sitemap-list">
                      <li><a href="http://status.mundipagg.com/" target="_blank">Status</a></li>
                      <li><a href="https://mundipagg.zendesk.com/hc/pt-br" target="_blank">MundiHelpp</a></li>
                      <li><a href="http://blog.mundipagg.com/" target="_blank">Blog</a></li>
                      <li><a href="https://dashboard.mundipagg.com" target="_blank">Portal</a></li>
                    </ul>
                    <div class="clear"></div>
                 </div>
                  <div class="col-sm-6">
                    <h2 class="title contato">Contato</h2>
                      <p class="text">
                          <strong>Capitais e Regiões Metropolitanas:</strong>
                          <span>3003-0460</span>
                      </p>
                      <p class="text">
                        <strong>Outras regiões:</strong>
                        <span>21 3554-2802</span>
                      </p>
                    </div>
                </div>
                <div class="row">
                    <div class="row-social col-md-12">
                    <h2 class="title">Redes Sociais</h2>
                    <a href="https://twitter.com/mundipagg" target="_blank" class="icon"> <img src="/images/twitter.png"/></a>
                    <a href="https://www.linkedin.com/company/mundipagg" target="_blank" class="icon"> <img src="/images/linkedin.png"/></a>
                    <a href="https://www.facebook.com/MundiPagg" target="_blank" class="icon"> <img src="/images/facebook.png"/></a>
                    <a href="https://www.youtube.com/channel/UCfsp4JkQCOZ0m-aDmQ9bUkA" target="_blank" class="icon"> <img src="/images/youtube.png"/></a> 
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="title">Endereços</h2>
                    <h2 class="sub">São Paulo <a href="#" class="link visible-sm visible-xs">(Mapa)</a></h2>
                    <p class="text">
                      <span>Av. Brigadeiro Faria Lima 1811</span>
                      <span>12° andar, Jardim Paulistano</span>
                      <span>01452-001</span>
                    </p>

                    <h2 class="sub">Rio de Janeiro <a href="#" class="link visible-sm visible-xs">(Mapa)</a></h2>
                    <p class="text">
                      <span>Av. General Justo, 375</span>
                      <span>8° andar, Centro</span>
                      <span>20021-130</span>
                    </p>
                  </div>
                </div>
              </div>
              </div>
        </div>

        <div class="map hidden-sm hidden-xs">
          <object type="image/svg+xml" data="/images/mapa-site.svg"></object>
        </div>
        <a href="" class="chat">
          <img src="/images/chat.png">
        </a>
   </section>