<nav class="navbar" data-spy="affix" data-offset-top="200" id="nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/#/">
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <li ng-class="{'active': headerCtrl.location === '/'}"><a href="/#/">Home</a></li>
        <li ng-class="{'active': headerCtrl.location === '/solutions'}"><a href="/#/solutions">Soluções</a></li>
        <li ng-class="{'active': headerCtrl.location === '/mundi'}"><a href="/#/mundi">A Mundi</a></li>
        <li ng-class="{'active': headerCtrl.location === '/customers'}"><a href="/#/customers">Clientes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="http://status.mundipagg.com/" target="_blank">Status</a></li>
        <li><a href="https://mundipagg.zendesk.com/hc/pt-br"  target="_blank">MundiHelpp</a></li>
        <li><a href="http://blog.mundipagg.com/" target="_blank">Blog</a></li>
        <li class="login"><a href="https://dashboard.mundipagg.com" target="_blank"> <i class="material-icons">input</i> Login</a></li>
    </ul>
  </div>
</nav>