<div class="container container-lg">
  <div class="row">
          <div class="col-md-2 col-sm-4 customer">
             <img src="images/reserva.png">
          </div>
          <div class="col-md-2 col-sm-4 customer">
              <img src="images/suba.png">
          </div>
          <div class="col-md-2 col-sm-4 customer">
              <img src="images/renner.png">
          </div>
          <div class="col-md-2 col-sm-4 customer">
              <img src="images/americanas.png">
          </div>
          <div class="col-md-2 col-sm-4 customer">
              <img src="images/chilli.png">
          </div>
           <div class="col-md-2 col-sm-4 customer">
             <img src="images/labella.png">
          </div>
    </div>
     <md-button class="md-fab md-primary btn-customers" href="/#/customers">
      <md-icon md-font-icon="material-icons"> 
         add
      </md-icon>
     </md-button>
</div>