<!-- Intro  -->
<section class="intro full" ng-include="'views/intro.html'"></section>

<!-- Control -->
<section class="control" ng-include="'views/control.html'"></section>

<!-- Needs -->
<section class="needs" ng-include="'views/needs.html'"></section>

<!-- Clients -->
<section class="clients" ng-include="'views/clients.html'"></section>

<!-- Advantages -->
<section class="advantages" ng-include="'views/advantages.html'"></section>

<!-- Video  -->
<section class="video-container" ng-include="'views/video.html'"></section>

<!-- Form -->
<section class="form-container" ng-include="'views/form.html'"></section>

<!-- Footer -->
<footer ng-include="'views/footer.html'"></footer>