<div class="container container-lg">
  <h1 class="title"> Do que você precisa? </h1>

  <div class="row">
      <div class="col-md-4"> 
        <div class="basics"> 
          <img src="/images/basic.png"/>
        </div>
        <h2 class="sub">Mundi Basics</h2>
        <p class="text">
          Tenha acesso ao <strong>Gateway de Pagamentos</strong> mais completo do mercado e <strong>focado na sua conversão</strong>.
        </p>
      </div>
      <div class="col-md-4"> 
        <div class="up"> 
          <img src="/images/up.png"/>
        </div>
        <h2 class="sub">Mundi Up</h2>
         <p class="text">
           Uma plataforma completa de pagamentos com uma <strong>taxa diferenciada</strong>. 
           Neste plano cuidamos de tudo: além do Gateway, você conta antifraudes parceiros, conciliação e processadora de cartões.
         </p>
      </div>
      <div class="col-md-4">
        <div class="flex"> 
          <img src="/images/flex.png"/>
        </div>
        <h2 class="sub">Mundi Flex</h2>
         <p class="text">
           Te ajudamos a escolher os recursos que mais se adaptam à sua necessidade. 
           Combine as nossas ferramentas de acordo com o perfil da sua empresa.
         </p>
      </div>
    </div>

    <div class="row button">
    <div class="col-md-offset-4 col-md-4">
      <md-button class="md-raised md-primary btn-details" href="/#/solutions"> Saiba mais detalhes dos planos</md-button>
    </div>
  </div>
</div>