<div class="video-presentation">
  <div class="presentation-container">
    <h1 class="title"> 
      Acreditamos no sonho do <strong>Fernando</strong>. <br>  Qual é o seu?
    </h1>
    <a href="" data-toggle="modal" data-target="#modalVideo">
      <i class="material-icons">play_circle_filled</i>
    </a>
    <h2 class="sub">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. ”</h2>
  </div>
</div>
<video src="http://mundipagg.com/novo-site/IngressoCerto.mp4" autoplay="" id="bgvid" loop="" muted="">
</video>


  <!-- Modal -->
  <div class="modal fade" id="modalVideo" role="dialog" aria-labelledby="modalVideoLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <iframe width="800" height="415" src="https://www.youtube.com/embed/XZ_iLWylRAs" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>